@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px !important;
    line-height: 1;
    opacity: .75;
    color: #909006 !important;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #88BEF4 !important;
}